<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="br">
  <!--<![endif]-->

  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-5G5NLQR");
    </script>
    <!-- End Google Tag Manager -->
    <title>Jonas Agnezi</title>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Responsive HTML5 Website Landing Page for Developers"
    />
    <meta name="author" content="Agnezi" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Global CSS -->
    <link
      rel="stylesheet"
      href="assets/plugins/bootstrap/css/bootstrap.min.css"
    />
    <!-- Plugins CSS -->
    <link
      rel="stylesheet"
      href="assets/plugins/font-awesome/css/font-awesome.css"
    />

    <!-- github calendar css -->
    <link
      rel="stylesheet"
      href="assets/plugins/github-calendar/dist/github-calendar.css"
    />
    <!-- github acitivity css -->
    <link
      rel="stylesheet"
      href="assets/plugins/github-activity/src/github-activity.css"
    />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css"
    />

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-5G5NLQR"
        height="0"
        width="0"
        style="display: none; visibility: hidden;"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="app">
      <header class="header">
        <div class="container">
          <img
            class="profile-image img-responsive pull-left"
            src="assets/images/profile-jonas.png"
            alt="Jonas Agnezi"
          />
          <div class="profile-content pull-left">
            <h1 class="name">Jonas Agnezi</h1>
            <h2 class="desc">Front-End</h2>
            <ul class="social list-inline">
              <li>
                <a href="https://twitter.com/agnezi_io"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <!-- <li>
                <a href="https://plus.google.com/u/0/107853951843743148532"
                  ><i class="fa fa-google-plus"></i
                ></a>
              </li> -->
              <li>
                <a href="https://www.linkedin.com/in/jonas-agnezi"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </li>
              <li>
                <a href="https://github.com/agnezi"
                  ><i class="fa fa-github-alt"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </header>

      <div class="container sections-wrapper">
        <div class="row">
          <div class="primary col-md-8 col-sm-12 col-xs-12">
            <section class="about section">
              <div class="section-inner">
                <h2 class="heading">Sobre Mim</h2>
                <div class="content">
                  <p>
                    Olá, meu nome é Jonas Agnezi, sou desenvolvedor Front-End e
                    tenho certeza que posso desenvolver o que você precisa,
                    mantenho o foco no aprendizado, sempre em busca de desafios.
                  </p>
                  <p>
                    Tenho experiência no desenvolvimento web
                    utilizando as melhores práticas e sempre focado na entrega
                    ao cliente.
                  </p>
                </div>
              </div>
            </section>

            <nav class="section-select-wrapper">
              <ul class="section-select--ul">
                <div class="col-xs-6 text-center">
                  <li @click="showProjetos" class="section-select--ul__li">
                    Projetos
                  </li>
                </div>
                <div class="col-xs-6 text-center">
                  <li @click="showOngoing" class="section-select--ul__li">
                    Ongoing
                  </li>
                </div>
              </ul>
            </nav>

            <section v-if="projetosCondition" class="latest section">
              <div class="section-inner">
                <h2 class="heading">Últimos Projetos</h2>
                <hr class="divider" />
                <div class="content">
                  <main-project
                    titleurl="https://v4.concilcard.com.br/#/"
                    titlename="Concil Card"
                    summary="Plataforma de Conciliação de crédito"
                    imglinkurl="https://v4.concilcard.com.br/#/"
                    imgsrc="assets/images/projects/concil.png"
                    imgalt="Concil"
                    introduction="Plataforma de conciliação de crédito"
                    technologies="Para esse projeto algumas das principais tecnologias
                  utilizadas no front-end foram:  React.js | Redux-Saga | React-Router-Dom | Ducks Pattern"
                    whatidid="Fui contratado para recriar esse projeto inteiro do 0, foi inteiramente arquitetado por mim."
                  /></main-project
                  <hr class="divider" />
                  <project
                    gitlink="https://store.neopag.com/login"
                    projectimg="assets/images/projects/neopag.png"
                    projecttitle="Neopag"
                    projecttechnologies="Para esse projeto algumas das principais tecnologias
                  utilizadas no front-end foram: Vue.Js | React.js | Vuex e Redux-Saga |"
                    projectreason="A Neopag é uma solução para o lojista que vende no crediario, a plataforma melhora o fluxo de caixa do cliente pois ele tem muito mais controle das vendas a prazo, pode cobrar seus clientes com boletos e vende parcelado com um modelo de faturas."
                    projectlearned="Nesse projeto criei novas funcionalidades para os clientes, alem de manter a constante manutenção para prevenção de bugs."
                  ></project>
                  <project
                    gitlink="https://areadolojista.onstores.com.br/"
                    projectimg="assets/images/projects/onstores.png"
                    projecttitle="OnStores ( Enext )"
                    projecttechnologies="Para esse projeto algumas das principais tecnologias
                  utilizadas no front-end foram: Vue.Js | Vue Router |
                  Vuex |"
                    projectreason="Sistema de integração de lojas em shoppings, onde o
                  lojista tem controle de seus pedidos."
                    projectlearned="Nesse projeto eu participei com implementações de novas
                  features, melhorias e adaptações. Pude aprender como
                  funciona o desenvolvimento de um sistema web utilizano
                  Vue.js, o fluxo de dados rolando dentro da aplicação é
                  alto e poder participar do desenvolvimento desse projeto
                  foi muito importante principalmente para aprimoramento e
                  entendimento da linguagem JavaScript."
                  ></project>
                  <project
                    gitlink="https://www.osklen.com.br/"
                    projectimg="assets/images/projects/osklen.png"
                    projecttitle="Osklen ( Enext )"
                    projecttechnologies="E-commerce de roupas: OCC ( Oracle Commerce Cloud ) | Knockoutjs | Jquery | SlickSlider | ES5."
                    projectreason="O projeto foi desenvolvido conforme necessidade da marca para realizar vendas pelo e-commerce."
                    projectlearned="Nesse projeto aprendi muito sobre a utilização da plataforma OCC da Oracle, bem como melhorei minhas skills com ES5. Aprendi sobre e-commerce tendo meu primeiro contato com uma loja de grande porte."
                  ></project>
                  <hr class="divider" />
                  <project
                    gitlink="https://www.zema.com/"
                    projectimg="assets/images/projects/zema.png"
                    projecttitle="Zema ( Enext )"
                    projecttechnologies="E-commerce de produtos variados como eletrodomésticos e eletronicos: OCC ( Oracle Commerce Cloud ) | Knockout.js | Jquery | SlickSlider | ES5."
                    projectreason="E-commerce com diversos seguimentos, muito forte em Mina Gerais."
                    projectlearned="Neste projeto tive envolvimento maior com o desenvolvimento do layout em algumas páginas como: Home, Catálogo, Pagina do Produto e Checkout."
                  ></project>
                </div>
              </div>
            </section>

            <section v-if="ongoingCondition" class="latest section">
              <div class="section-inner">
                <h2 class="heading">Últimos Projetos</h2>
                <div class="content">
                  <!-- <div class="item featured text-center">
                    <h3 class="title">
                      <a href="https://areadolojista.onstores.com.br/login" target="_blank">OnStores ( Enext )</a>
                    </h3>
                    <p class="summary">
                      Sistema de integração de lojas
                    </p>
                    <div class="featured-image">
                      <a href="https://areadolojista.onstores.com.br/login" target="_blank">
                        <img class="img-responsive project-image" src="assets/images/projects/onstores.png"
                          alt="OnStores" />
                      </a>
                    </div>
  
                    <div class="desc text-left">
                      <p>Sistema de integração de lojas em shoppings, onde o lojista tem controle de seus pedidos.</p>
                      <p> Para esse projeto algumas das principais tecnologias utilizadas no front-end foram: Vue.Js | Vue
                        Router | Vuex | </p>
                      <p>Nesse projeto eu participei com implementações de novas features, melhorias e adaptações. Pude
                        aprender como funciona o desenvolvimento de um sistema web utilizano Vue.js, o fluxo de dados
                        rolando dentro da aplicação é alto e poder participar do desenvolvimento desse projeto foi muito
                        importante principalmente para aprimoramento e entendimento da linguagem JavaScript.</p>
                    </div>
                  </div> -->
                  <hr class="divider" />
                  <project
                    gitlink="https://www.portalpos.com.br"
                    projectimg="assets/images/projects/portalpos.png"
                    projecttitle="Portalpos ( Corebiz )"
                    projecttechnologies="E-commerce de cursos: VTEX (Plataforma de e-commerce) | Vue.js | ES6 | Design Pattern AMD."
                    projectlearned="Nesse projeto aprendi bastante sobre a plataforma VTEX, tendo bastante contato com o bundle webpack e aprendi também sobre regras de negócios interessantes onde o e-commerce foi desenvolvido."
                  >
                  </project>
                  <hr class="divider" />
                  <project
                    gitlink="https://loja.chillibeans.com.br/dia-dos-pais"
                    projectimg="assets/images/projects/chillibeans.png"
                    projecttitle="ChilliBeans ( Corebiz )"
                    projecttechnologies="E-commerce de acessórios de moda: VTEX ( Plataforma de e-commerce)"
                    projectlearned="Neste projeto implementei tags do Google Tag Manager e fiz integração com o Facebook Pixel."
                  >
                  </project>
                </div>
              </div>
            </section>

            <section class="experience section">
              <div class="section-inner">
                <h2 class="heading">Experiência ( Atual )</h2>
                <div class="content">
                  <div class="item">
                    <h3 class="title">
                      Neopag
                      <span class="place"
                        ><a href="https://www.neopag.com/">-Neopag-</a></span
                      >
                      <span class="year">(2019 - atualmente)</span>
                    </h3>
                    <p>
                      Plataforma de gestão de crediário com foco no pequeno
                      lojista.
                    </p>
                    <p>
                      Utilizando as tecnologiais mais atuais no desenvolvimento
                      Front-End como React.js e Vue.js, desenvolvia novas
                      funcionalidades e mantinha sempre a constante manunteção
                      para prevenção de bugs.
                    </p>

                    <p>
                      Time de tecnologia bem arrojado, desafios granes e muito
                      aprendizado.
                    </p>

                    <p>
                      Para saber mais, acesse meu
                      <a href="https://www.linkedin.com/in/jonas-agnezi/"
                        >Linkedin</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </section>
            <section class="github section">
              <div class="section-inner">
                <h2 class="heading">Meu Github</h2>

                <div id="github-graph" class="github-graph"></div>

                <div id="ghfeed" class="ghfeed"></div>
              </div>
            </section>
          </div>
          <div class="secondary col-md-4 col-sm-12 col-xs-12">
            <aside class="info aside section">
              <div class="section-inner">
                <h2 class="heading sr-only">Information</h2>
                <div class="content">
                  <ul class="list-unstyled">
                    <li>
                      <i class="fa fa-map-marker"></i
                      ><span class="sr-only">Location:</span>São Paulo, BR
                    </li>
                    <li>
                      <i class="fa fa-envelope-o"></i
                      ><span class="sr-only">Email:</span
                      ><a href="#">jonas.agnezi@gmail.com</a>
                    </li>
                    <li>
                      <i class="fa fa-link"></i
                      ><span class="sr-only">Website:</span
                      ><a href="https://www.linkedin.com/in/jonas-agnezi/"
                        >https://www.linkedin.com/in/jonas-agnezi/</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </aside>

            <aside class="skills aside section">
              <div class="section-inner">
                <h2 class="heading">Skills</h2>
                <div class="content">
                  <div class="skillset">
                    <skill
                      skillpercentage="100%"
                      skilltechnologies="HTML5, CSS3,Javascript"
                    ></skill>
                    <skill
                      skillpercentage="100%"
                      skilltechnologies="React.js e Vue.js"
                    >
                    </skill>
                    <skill skillpercentage="100%" skilltechnologies="Node.js">
                    </skill>
                  </div>
                </div>
              </div>
            </aside>

            <aside class="education aside section">
              <div class="section-inner">
                <h2 class="heading">Educação</h2>
                <div class="content">
                  <education
                    edugraduation="Tecnologia da Informação"
                    eduplace="Universidade Paulista UNIP"
                    edudate="(2016-2018)"
                  >
                  </education>
                  <education
                    edugraduation="English Course"
                    eduplace="Cultura Inglesa"
                    edudate="2017-2019"
                  >
                  </education>
                  <education
                    edugraduation="Cambridge KEY Certificate"
                    eduplace="University of Cambridge"
                    edudate="Never expires"
                  >
                  </education>
                </div>
              </div>
            </aside>

            <aside class="languages aside section">
              <div class="section-inner">
                <h2 class="heading">Languages</h2>
                <div class="content">
                  <ul class="list-unstyled">
                    <li class="item">
                      <span class="title"><strong>Português:</strong></span>
                      <span class="level"
                        >Native Speaker <br class="visible-xs" /><i
                          class="fa fa-star"
                        ></i>
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                      </span>
                    </li>
                    <li class="item">
                      <span class="title"><strong>English:</strong></span>
                      <span class="level"
                        >Intermediate <br class="visible-sm visible-xs" /><i
                          class="fa fa-star"
                        ></i>
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i
                      ></span>
                    </li>
                  </ul>
                </div>
              </div>
            </aside>
            <!-- <aside class="list music aside section">
              <div class="section-inner">
                <h2 class="heading">Musicas para Codar</h2>
                <div class="content">
                  <ul class="list-unstyled">
                    <li>
                      <i class="fa fa-headphones"></i>
                      <a
                        href="https://open.spotify.com/track/2y8Eez5cFFf2JzD546LThM"
                        >Frank Sinatra - Fly me to the moon</a
                      >
                    </li>
                    <li>
                      <i class="fa fa-headphones"></i>
                      <a
                        href="https://open.spotify.com/track/2wVXSc0IrQVodHESUxVUJA"
                        >R.E.M. - Losing My Religion</a
                      >
                    </li>
                    <li>
                      <i class="fa fa-headphones"></i>
                      <a
                        href="https://open.spotify.com/track/1SbqxemPdwGlvmirtQVkCU"
                        >Skrillex feat Ellie Goulding - Summit</a
                      >
                    </li>
                    <li>
                      <i class="fa fa-headphones"></i>
                      <a
                        href="https://open.spotify.com/track/5jed20rEMj5Uhf9uImqWOL"
                        >Bobby Raps - Frozen Tundra</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </aside> -->

            <aside class="list conferences aside section">
              <div class="section-inner">
                <h2 class="heading">Conferencias</h2>
                <div class="content">
                  <ul class="list-unstyled">
                    <li>
                      <i class="fa fa-calendar"></i>
                      <a
                        href="http://educanada.edufindme.com/brazil/sao-paulo?language=en-US"
                        target="_blank"
                        >EDUCANADA 2017</a
                      >
                      (São Paulo)
                    </li>
                  </ul>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="container text-center">
          <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
          <small class="copyright"
            >Designed with <i class="fa fa-heart"></i> by
            <a href="http://themes.3rdwavemedia.com" target="_blank"
              >Xiaoying Riley</a
            >
            for developers</small
          >
        </div>
      </footer>
    </div>
    <!-- Javascript -->
    <script type="text/javascript" src="assets/js/vue.min.js"></script>
    <script type="text/javascript" src="assets/js/index.js"></script>
    <script
      type="text/javascript"
      src="assets/plugins/jquery-1.11.3.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/plugins/bootstrap/js/bootstrap.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/plugins/jquery-rss/dist/jquery.rss.min.js"
    ></script>
    <!-- github calendar plugin -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/3.0.2/es6-promise.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/fetch/0.10.1/fetch.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/plugins/github-calendar/dist/github-calendar.min.js"
    ></script>
    <!-- github activity plugin -->
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"
    ></script>
    <script
      type="text/javascript"
      src="assets/plugins/github-activity/src/github-activity.js"
    ></script>
    <!-- custom js -->
    <script type="text/javascript" src="assets/js/main.js"></script>
  </body>
</html>
